<%- include("partials/header") %>

<div class="container-fluid">
    <div class="container-fluid text-center">
        <h1>About</h1>
    </div>
    <div class="container-fluid text-center">
        <p>This is one of my projects, really cool right?</p>
        <p>Check my out around the web!</p>
        <a href="https://github.com/kevbergstrom">https://github.com/kevbergstrom</a>
    </div>
</div>

<%- include("partials/footer") %>